<div class="footer">
    <div class="footer-container">
        <div class="footer-left">
            <img src="./assets/logo-white.jpg" alt="logo-white" class="footer-logo">
        </div>
        <div class="footer-right">
            <a href="mailto: ugamhalankar@gmail.com"><img src="./assets/email.png" alt="email" class="footer-logos-sm"></a>
            <a href="https://instagram.com/ugamhalankar?igshid=ZDdkNTZiNTM=" target="_blank"><img src="./assets/instagram.png" alt="instagram" class="footer-logos-sm"></a>
            <a href="t.me/UgamHalankar" target="_blank"><img src="./assets/telegram.png" alt="telegram" class="footer-logos-sm"></a>
            <a href="https://www.linkedin.com/in/ugam-halankar-066626205/" target="_blank"><img src="./assets/linkedin.png" alt="linkedin" class="footer-logos-sm"></a>           
        </div>
    </div> 
</div>