<nav class="navbar">
    <img src="./assets/logo.jpg" alt="" class="navbar-logo">
    <div class="toggle-button">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <div class="navbar-tabs">
        <ul>
            <li><a routerLink="home">Home</a></li>
            <li><a routerLink="education">Education</a></li>
            <li><a routerLink="skills">Skills</a></li>
            <li><a routerLink="contact">Contact</a></li>
        </ul>
    </div>
</nav>
<hr>