<div class="contact-container">
    <fieldset class="contact-fieldset">
        <legend>Contact Me</legend>
        <div class="contact-form">
            <div class="contact-form-container">
                <p class="contact-intro">Let's work together! Fill the form and I will contact you as soon as possible.</p>
                <form action="https://formsubmit.co/ugamhalankar@gmail.com" method="POST">
                    <div>
                        <input type="text" name="name" placeholder="Name" class="contact-name" required>
                        <input type="email" name="email" placeholder="Email Id" class="contact-email" required>
                    </div>
                    <div>
                        <input type="text" name="message" placeholder="Write your message." class="contact-message" required>
                    </div>
                    <button type="submit" class="contact-submit">Send</button>
                    <input type="hidden" name="_captcha" value="false">
                </form>
            </div>
            <div class="contact-details-container">
                <div class="email-id">
                    <p>Email:</p>
                    <p>ugamhalankar@gmail.com</p>
                </div>
                <div class="mobile-number">
                    <p>Mob No.:</p>
                    <p>+91 7387145775</p>
                </div>
                <div class="address">
                    <p>Address:</p>
                    <p>Mumbai,</p>
                    <p>Maharashtra</p>
                </div>
            </div>
        </div>
    </fieldset>
</div>