<div class="skills-container">
    <h3 style="text-align: center;">IT Skills</h3>
    <div class="card-container">
        <div class="skill-card">
            <h3>HTML</h3>
            <img src="./assets/html.png" alt="html-logo"/>
            <div class="progress-bar-container">
                <div class="progress-bar" style="width: 85%;"></div>
            </div>
        </div>
        <div class="skill-card">
            <h3>CSS</h3>
            <img src="./assets/css.png" alt="css-logo"/>
            <div class="progress-bar-container">
                <div class="progress-bar" style="width: 85%;"></div>
            </div>
        </div>
        <div class="skill-card">
            <h3>AngularJS</h3>
            <img src="./assets/angular.png" alt="angular-logo"/>
            <div class="progress-bar-container">
                <div class="progress-bar" style="width: 70%;"></div>
            </div>
        </div>
        <div class="skill-card">
            <h3>Python</h3>
            <img src="./assets/python.png" alt="python-logo"/>
            <div class="progress-bar-container">
                <div class="progress-bar" style="width: 55%;"></div>
            </div>
        </div>
        <div class="skill-card">
            <h3>Java</h3>
            <img src="./assets/java.png" alt="java-logo"/>
            <div class="progress-bar-container">
                <div class="progress-bar" style="width: 50%;"></div>
            </div>
        </div>
        <div class="skill-card">
            <h3>DBMS</h3>
            <img src="./assets/dbms.png" alt="dbms"/>
            <div class="progress-bar-container">
                <div class="progress-bar" style="width: 75%;"></div>
            </div>
        </div>
    </div>
    <br>
    <h2 style="text-align: center;">Designing Softwares</h2>
    <div class="card-container">
        <div class="skill-card">
            <h3>SolidWorks</h3>
            <img src="./assets/solidworks.png" alt="solidworks-logo">
            <div class="progress-bar-container">
                <div class="progress-bar" style="width: 90%;"></div>
            </div>
        </div>
        <div class="skill-card">
            <h3>Ansys</h3>
            <img src="../../assets/ansys.png" alt="ansys-logo" style="background-color: black;">
            <div class="progress-bar-container">
                <div class="progress-bar" style="width: 75%;"></div>
            </div>
        </div>
        <div class="skill-card">
            <h3>Matlab</h3>
            <img src="./assets/Matlab.png" alt="matlab-logo">
            <div class="progress-bar-container">
                <div class="progress-bar" style="width: 70%;"></div>
            </div>
        </div>
    </div>
    <p class="skills-note">*bars indicate the skills level.</p>
    <br>
</div>