<div class="home">
    <fieldset>
        <legend>WELCOME</legend>
        <div class="home-leftSection">
            <p class="heading">Hello,</p>
            <p class="heading">I am Ugam Halankar</p>
            <p class="subheading">Mechanical Engineer</p>
            <p class="content">I'm a recent graduate with BE in Mechanical. I'm looking for an oppurtunity to gain
                experience, preferably one in which I get to learn new things.</p>
            <button class="home-button"><a routerLink="../contact">Hire Me</a></button>
        </div>
        <span class="spacer"></span>
        <div class="home-rightSection">
            <img src="./assets/home.png" alt="Student Vector Art" class="home-image">
        </div>
    </fieldset>
</div>